$white: #FFF;
$primary: #0A81FB;
$color-3: #333;
$color-6: #666;
$color-9: #999;
$color-c: #ccc;
$color-e: #eee;
$color-2: #2ec200;
$orange: #EB5640;
$bg-color: #F5F5F5;
$color-F: #FFFFFF;
$blue: #074CF7;
$lightOrange: #FF981E;
